* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 0 50px 0 50px;
  margin: 20px;
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: lightskyblue;
}

header h1 {
  font-weight: bold;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

a:visited {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  font-size: larger;
  color: darkblue;
}

footer {
  margin-top: 50px;
}

footer a {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

.centered {
  margin: auto;
  width: 50%;
  padding: 10px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.about h2, img, p {
  margin: 20px 0 20px 0;
}

.portfolio h2 {
  margin: 20px 0 20px 0;
}

.card {
  margin: 20px 0 20px 0;
}

.portCon button {
  margin: 10px;
}

.contact h2 {
  margin: 20px 0 20px 0;
}

.form, .subbtn {
  margin: 20px 0 20px 0;
}

.resume h2 {
  margin: 20px 0 20px 0;
}

.resume h3 {
  margin: 20px 0 20px 0;
}

.resume a {
  text-decoration: none;
}

.portbtn {
  text-decoration: none;
  color: white;
}

.cardimg {
  height: 300px;
  width: 300px;
  object-fit: cover;
}









